
.row-normal {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0px;
    gap: 5px;
}

.column-normal {
    background-color: yellow;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.column-hover {

    background-color: green; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}